<div>
    <div class="panel panel-default">
        <div>
            <div class="panel-heading"><a href ng-click="back()"
                                          target="_self"><i class="fa fa-arrow-left"></i> BACK</a></div>

            <% if(post.postUniqueCuid) { %>
            <div class="panel-body">
                <div class="card">

                    <div class="card-content">

                        <h2 class="text-outputs postHeading"><a href="<%= post.postPath %>"
                                                                target="_self">
                                <%= post.postHeading %>
                            </a>
                        </h2>

                        <h3 class="text-muted postBy">
                            <small>
                                <a class="btn-link">
                                    <%= post.authorName %>
                                </a> on <span><%= post.postDate %></span>
                            </small>
                            <br/>
                            <small class="text-muted"
                                   data-livestamp="<%= post.createdAt %>">
                            </small>
                        </h3>

                        <div><%- post.postContent %></div>
                    </div>

                    <div class="card-action clearfix">

                        <% var postTags = post.postTags %>
                        <% include ../../templates-pre/post_tags.ejs %>

                        <% if (theUser && theUser.isRegistered && theUser.isAdmin && accountStatusBanner.accountStatus) { %>

                        <div class="pull-right"
                             post-actions-scope>

                            <div ng-init="postUniqueCuid = '<%- post.postUniqueCuid %>'">
                                <a class="btn-link btn btn-default btn-xs"
                                   href="<%= '/edit/post/' + post.postIndex %>"
                                   target="_self">Edit
                                </a>

                                <a class="btn-link btn btn-default btn-xs"
                                   ng-click="trashPost(postUniqueCuid)"
                                   target="_self">Delete
                                </a>
                            </div>
                        </div>

                        <% } %>

                    </div>
                </div>

                <div id="disqus-div">
                    <dir-disqus disqus-shortname="negusmathproduction"
                                disqus-identifier="<%- post.postUniqueCuid %>"
                                disqus-title="<%- post.postHeading %>"
                                disqus-url="<%- post.postAbsoluteUrl %>"
                    </dir-disqus>
                </div>
            </div>
            <% } %>

        </div>
    </div>
</div>

<div>
    <div suggested-posts></div>
</div>